<nav class="navbar">
  <div class="menu">
  <ul>
    <li><a class="active" href="#">Inicio</a></li>
    <li><a href="#">Árboles singulares</a></li>
    <li><a href="#">Sobre nosotros</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
  </div>
  <div>
  <img width="110%" src="https://okdiario.com/web/themes/v10/css/_img/logocomunidadmadrid.png">
    </div>
</nav>