<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="css/index/index.css">
</head>
<body>




<div class="section-1">
<%- include('../partials/navbar'); %>
<div class="container section-grid">

    <div>
        <h2>Descubre los Árboles singulares de la Comunidad de  Madrid</h2>
        <p>Accede a toda la información sobre ASCM clasificada por 
            todas sus categorías.
        </p>
        <a class="button button-primary">descubre la aplicación</a>
    </div>
    <div class="image">
        <img width="100%" src="https://purepng.com/public/uploads/large/purepng.com-treenaturetreegreensummer-831524002277v9dmh.png">
    </div>
</div>
</div>

<div class="section-2">
<div class="container section-grid-left">
    <div class="image">
        <img width="70%" src="https://maptiler.es/img/cloud/geocoding/restapi.svg">
    </div>        
    <div>
        <h2>Accede a los datos vía API</h2>
        <p>Explota los datos de los Arboles Singulares de la Comunidad de Madrid a través de nuestra API Pública.</p>
        <a class="button button-secondary">quiero saber más</a>
    </div>
</div>
</div>

<div class="section-3">
<div class="container section-grid">
<div class="featured"> 
    featured - quiero declarar un arbol como singular
</div>
<div class="article">
    article
</div>
<div class="accordion">
    faqs<br>
    1 - ¿que es un arbol singular?
</div>
</div>
</div>

<div class="section-4">
<div class="container section-grid-right">
    <div>
        <h2>Conoce nuestro proyecto</h2>
        <p>Conoce como surge el proyecto que da lugar a ASCM para dar visibilidad y concienciar acerca de este patrimonio.</p>
        <a class="button button-secondary">conoce el proyecto</a>
    </div>
    <div class="image">
        <img width="100%" src="https://cdni.iconscout.com/illustration/free/thumb/about-us-2061897-1740019.png">
    </div>    
</div>
</div>

<%- include('../partials/footer'); %>

</body>
</html>