<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="css/home/index.css">
</head>
<body>


<%- include('../partials/navbar'); %>

<div class="section-1">
<div class="container section-grid">

    <div>
        <h2>Descubre los Árboles singulares de la Comunidad de  Madrid</h2>
        <p>Accede a toda la información sobre ASCM clasificada por 
            todas sus categorías.
        </p>
        <a class="button button-primary">descubre la aplicación</a>
    </div>
    <div class="image">
        <img width="100%" src="https://purepng.com/public/uploads/large/purepng.com-treenaturetreegreensummer-831524002277v9dmh.png">
    </div>
</div>
</div>
<div class="section-2">
<div class="container section-grid">
<div class="featured"> 
    <div>
    <h3>Declarar un árbol como singular</h3>
    <p>¿Hay un árbol en tu municipio que merece ser considuerado singular? </p>
    <a class="button button-primary">Contacta con nosotros</a>
    </div>
    <div>
        <img width="100%" src="https://biophilialotus.com/wp-content/uploads/2021/10/contact-us-vector.png">
    </div>
</div>
<div class="counter">
    <div class="counter-content trees">
        <div class="image">
            <img src="img/tree-icon-svgrepo-com.svg">
        </div>
        <div class="text">
            <h5 id="trees-count"></h5>
            <span>Árboles registrados</span>
        </div>
    </div>
    <div class="counter-content towns">
        <div class="image">
            <img src="img/location-svgrepo-com.svg">
        </div>
        <div class="text">
            <h5 id="towns-count"></h5>
            <span>Municipios registrados</span>
        </div>
    </div>
</div>
<div class="accordion-container">
    <button class="accordion"><img src="img/tree-svgrepo-com.svg"><span>¿Qué es un Árbol Singular?</span></button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <button class="accordion"><img src="img/paper-clip-svgrepo-com.svg"><span>¿Cuál es el proceso para que un árbol se convierta en singular?</span></button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <button class="accordion"><img src="img/hiker-walk-svgrepo-com.svg"><span>¿Los árboles singulares son de libre acceso para el público?</span></button>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    
</div>
</div>
</div>
<div class="section-3">
<div class="container section-grid-left">
    <div class="image">
        <img width="70%" src="img/restapi.png">
    </div>        
    <div>
        <h2>Accede a los datos vía API</h2>
        <p>Explota los datos de los Arboles Singulares de la Comunidad de Madrid a través de nuestra API Pública.</p>
        <a class="button button-secondary">quiero saber más</a>
    </div>
</div>
</div>



<div class="section-4">
<div class="container section-grid-right">
    <div>
        <h2>Conoce nuestro proyecto</h2>
        <p>Conoce como surge el proyecto que da lugar a ASCM para dar visibilidad y concienciar acerca de este patrimonio.</p>
        <a class="button button-secondary">conoce el proyecto</a>
    </div>
    <div class="image">
        <img width="100%" src="https://cdni.iconscout.com/illustration/free/thumb/about-us-2061897-1740019.png">
    </div>    
</div>
</div>

<%- include('../partials/footer'); %>

<script defer src="js/home/index.js"></script>
</body>
</html>