body{
    background-color: rgb(249, 249, 249);
}

.button-primary{
    color: #ffffff;
    background-color: rgb(26, 68, 167);
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: 700;
}

.button-primary:hover {
    background-color: rgb(33, 81, 197);
    color: white;
}

.section-1 .section-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 3rem;
    padding: 3rem 0;
    box-shadow: inset 0 0 0 1000px rgba(238, 240, 245, .8);
    background-image: url('https://cdn.forestresearch.gov.uk/2022/02/forestry-national-forest-inventory.jpg');   
    padding: 2rem 1.7rem 3.2rem 1.7rem;
}

.section-1 .section-grid h2{
    font-size: 40px;
    margin: 1.5rem 0;
}

.section-1 .section-grid p{
    margin: 0 0 1.5rem 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8rem;
}

.section-grid-left {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 3rem;
}

.section-grid-right {
    display: grid;
    grid-template-columns: 55% 45%;
    column-gap: 3rem;
}

.section-grid-left h2, .section-grid-right h2{
    font-size: 40px;
    margin: 1.5rem 0;
}

.section-grid-left p, .section-grid-right p{
    margin: 0 0 1.5rem 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8rem;
}

.section-grid-left .image, .section-grid-right .image{
    text-align: center;
}

.section-1 {
    padding-bottom: 2em;

}

.section-3{
    padding: 4.5rem 0 2rem 0;
}

.section-2 .section-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.section-2 .featured{
    grid-column: span 2;
    background-color: #E5EDFF;
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 4rem 1.7rem 3.2rem 1.7rem;
    gap: 1.5rem;
    /*align-items: flex-end;*/
}

.section-2 .featured h3{
    font-size: 28px;
}

.section-2 .featured p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8rem;
}

.section-2 .counter{
    display: grid;
    gap: 1rem;


}

.section-2 .counter .counter-content{
    display: grid;
    grid-template-columns: 40% 60%; 
    font-weight: 800;
    padding: 1rem;
    align-items: center;    
}

.section-2 .counter .trees { 
    background-color: #1D71B8;   
    border-bottom: 10px solid #588DB5;
}

.section-2 .counter .towns { 
    background-color: #6C747E;   
    border-bottom: 10px solid #99A4AF;
}

.section-2 .counter .counter-content .text{
    text-align: right;
}

.section-2 .counter .counter-content img{
    width: 50%;
}

.section-2 .counter .trees img{
    filter: invert(78%) sepia(11%) saturate(778%) hue-rotate(159deg) brightness(89%) contrast(86%);
}

.section-2 .counter .towns img{
    filter: invert(64%) sepia(2%) saturate(1989%) hue-rotate(174deg) brightness(105%) contrast(77%);
}

.section-2 .counter .counter-content h5{
    margin: 0;
    font-size: 60px;
    color: #fff;
}

.section-2 .counter .counter-content span{
    font-size: 18px;
    font-weight: 800;
}

.section-2 .counter .trees span{
    color: #9BC3DD;
}

.section-2 .counter .towns span{
    color: #C9D8E5;
}

.section-2 .accordion-container{
    grid-column: span 3;
}

.section-4{
    padding: 0rem 0 5rem 0;
}


/* Accordion */

.accordion-container .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
    font-weight: 600;
  }
  
  .accordion-container .active, .accordion-container .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion-container .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion-container .active:after {
    content: "\2212";
  }

  .accordion-container img {
    width: 2.3rem;
    vertical-align: middle;
    margin-right: 1rem;
  }

  .accordion-container .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }