<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head'); %>
<link rel="stylesheet" href="css/arboles-singulares/index.css">
</head>
<body>


<%- include('../partials/navbar'); %>

<div class="container">
    <div class="grid"> 
        <!-- Contenido de las tarjetas --> 
    </div>

</div>

<%- include('../partials/footer'); %>

<!-- Componentes -->
<script defer src="componentes/Tarjeta/Tarjeta.js"></script>

<!-- Javascript -->
<script defer src="js/arboles-singulares/index.js"></script>
</body>
</html>